*{
   margin: 0;
   padding: 0;
}
header{
   margin-top: 30px;
   height: 500px;
   background-color:aqua;
   overflow: none;
}
header nav h2{
   margin-top: 40px;
   float: left;

}
header nav ul{
   cursor:pointer;
   padding-top: 40px;
   float: right;
}
header nav ul li{
   list-style: none;
   float: left;
   margin: 10px;
}
header nav h2 a{
   color: white;
   text-decoration: none;
}
header nav ul li a{
   text-decoration: none;
   color: white;
}
header nav ul li a:hover{
   color: black;
   background-color: aliceblue;
}
header nav h2 a:hover{
   color: black;
   background-color: white;
}
/* section  vp*/

.vp{
   background-color:aqua ;
}

.vp nav h3 {
   margin-top: 50px;
   float: left;
}
.vp nav ul {
   padding: 40px;
   float: right;
}
